---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
ContinuationIndentWidth: 4
BreakBeforeBinaryOperators: NonAssignment
AlignEscapedNewlines: LeftWithLastLine
ReflowComments: IndentOnly
SpacesInLineCommentPrefix:
    Minimum: 1
    Maximum: 1
AllowShortIfStatementsOnASingleLine: true
...
